@import "tailwindcss";

@theme {
  --color-gold: #C9A84C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #080808;
  color: #fff;
  font-family: var(--font-body);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #C9A84C;
  border-radius: 4px;
}

::selection {
  background: #C9A84C;
  color: #080808;
}
